environment: production
environmentCode:
name: ffc-doc-statement-receiver
namespace: ffc-doc
workstream: ffc-doc
image: ffc-doc-statement-receiver

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-doc-statement-receiver-config-map

containerSecret:
  name: ffc-doc-statement-receiver-container-secret
  type: Opaque

deployment: {}

container:
  requestMemory: 100Mi
  requestCpu: 100m
  limitMemory: 100Mi
  limitCpu: 100m
  port: 3022
  azureStorageAccountName: ffcdoc
  azureStorageConnectionString: dummy
  azureStorageUseConnectionString: false
  azureStorageCreateContainers: false
  storageContainer: statements
  storageFolder: outbound
  redisHostname: hosty-mchost-face
  redisPort: 6380
  redisPassword: redis
  endpointEnabled: true
  alertTopicAddress: ffc-doc-alerting
  messageQueueHost: namespace.servicebus.windows.net

ingress:
  class: nginx
  endpoint: ffc-doc-statement-receiver
  server: example.com

livenessProbe:
  path: /healthz
  port: 3022
  initialDelaySeconds: 30
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5

readinessProbe:
  path: /healthy
  port: 3022
  initialDelaySeconds: 40
  periodSeconds: 10
  failureThreshold: 3
  timeoutSeconds: 5

workloadIdentity: true

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

secretProviderClass:
  azure:
    keyvaultName: SNDFFCINFKV2001
    objects: # reading the secret from Azure Key Vault
      - objectName: appInsights-connectionString # secret name in Azure Key Vault
        objectType: secret
      - objectName: snd2-redisPassword # secret name in Azure Key Vault
        objectType: secret

  secretObjects: # creating a Kubernetes secret from the Azure Key Vault secrets
    - secretName: ffc-doc-statement-receiver
      type: Opaque
      data:
        - objectName: appInsights-connectionString # secret name in Azure Key Vault
          key: APPINSIGHTS_CONNECTION_STRING # the secret key in the Kubernetes secret and use in the application
        - objectName: snd2-redisPassword # secret name in Azure Key Vault
          key: REDIS_PASSWORD # the secret key in the Kubernetes secret and use in the application